[Unit]
Description=gunicorn daemon for plant-q-server
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/plant-q-server
Environment=DJANGO_SETTINGS_MODULE=config.production_settings
ExecStart=/var/www/plant-q-server/venv/bin/gunicorn --access-logfile - --workers 4 --bind unix:/var/www/plant-q-server/plant-q-server.sock config.wsgi:application

[Install]
WantedBy=multi-user.target